<main>
  {{#each products}}
    <div class="product">
      <img src="{{thumbnail}}" alt="{{name}}" width="200">
      <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>{{status}}</p>
        <p>Precio: {{price}} $</p>
    </div>
  {{/each}}
</main>